
{% extends 'admin/adminindex.html' %}
{% block body %}

    <h3 style="color: red">Correlation Matrix</h3>
    <img src="/static/correlation.jpg" width="1200px">
    <br>


    <h3>{{ col[0] }}</h3>
    <img src="/static/1.jpg">
    <br>

    <h3>{{ col[1] }}</h3>
    <img src="/static/2.jpg" >
    <br>


    <h3>{{ col[2] }}</h3>
    <img src="/static/3.jpg">
    <br>


    <h3>{{ col[3] }}</h3>
    <img src="/static/4.jpg">
    <br>


    <h3>{{ col[4] }}</h3>
    <img src="/static/5.jpg">
    <br>


    <h3>{{ col[5] }}</h3>
    <img src="/static/5.jpg">
    <br>


    <h3>{{ col[6] }}</h3>
    <img src="/static/6.jpg">
    <br>

    <h3>{{ col[7] }}</h3>
    <img src="/static/7.jpg">
    <br>

    <h3>{{ col[8] }}</h3>
    <img src="/static/8.jpg">
    <br>

    <h3>{{ col[9] }}</h3>
    <img src="/static/9.jpg">
    <br>

    <h3>{{ col[10] }}</h3>
    <img src="/static/10.jpg">
    <br>

 {% endblock %}